/* You can add global styles to this file, and also import other style files */
.bg-c , .bg-c:hover{
    background-color: #0059b3;
    color : #ffffff
}

.error {
    color: red;
    font-style: italic;
}