<div class="container mt-5" id="calculation-summary">
    <h4>Calculation Summary</h4>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Category</th>
                <th>Term</th>
                <th>Amortization Period</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Number of Payments</td>
                <td>{{termSummary.numberOfPayment  }}</td>
                <td>{{amSummary.numberOfPayment}}</td>
            </tr>
            <tr>
                <td>Mortgage Payment</td>
                <td>{{termSummary.mortgagePayment | currency}}</td>
                <td>{{amSummary.mortgagePayment | currency}}</td>
            </tr>
            <tr>
                <td>Principal Payment</td>
                <td>{{termSummary.principalPayment | currency}}</td>
                <td>{{amSummary.principalPayment | currency}}</td>
            </tr>
            <tr>
                <td>Interest Payment</td>
                <td>{{termSummary.interestPayment | currency}}</td>
                <td>{{amSummary.interestPayment | currency}}</td>
            </tr>
            <tr>
                <td>Total Cost</td>
                <td>{{termSummary.totalAmountPaid | currency}}</td>
                <td>{{amSummary.totalAmountPaid | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>